@mixin primaryButtonStyle {
  margin: 10px;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: rgb(119, 197, 182);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

@mixin twoMainReminderDivs {
  width: 700px;
  margin: 0 auto;

  // use media query to make it responsive
  @media (max-width: 850px) {
    width: 90%;
  }

  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.15);
}

@mixin textfieldPrimaryStyle {
  background-color: rgb(119, 197, 182);
  width: 100%,
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  //background: linear-gradient(#e3b1e8, #b1b188);
  //background: linear-gradient(#e3b1e8, #cecebb);
  background-color: #e3b1e8;
}

.siteTitle {
  width: 700px;
  margin: 0 auto;

  @media (max-width: 850px) {
    width: 90%;
  }

  padding: 10px;
}

.ReminderTopSubDiv {
  @include twoMainReminderDivs;
}

.textfieldMainLink {
  @include textfieldPrimaryStyle
}

.option-button {
  @include primaryButtonStyle;

  &:hover {
    background-color: #23c483;
    color: #fff
  }
}


// ------------------
.CustomOptionsHiddenDiv {
  @include twoMainReminderDivs;
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CustomOptionsTextFieldDiv {
  width: 50%;
  float: left;
  display: flex;
  align-items: right;
  justify-content: right;
}

// .CustomOptionsButtonDiv {

// }

// ------------------


.textfieldCustomOption {
  @include textfieldPrimaryStyle;
  width: 100%;
}

.buttonCustomUnits {
  @include primaryButtonStyle;
  // width: 100%;
  width: 150px;
  // center the contents
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(121, 121, 121, 0.5);

  &:hover {
    background-color: rgb(121, 121, 121);
    color: #fff
  }
}

.menuItemsDiv {
  &:hover {
    color: rgb(119, 197, 182);
    ;
  }
}

.submit-button {
  @include primaryButtonStyle;
  background-color: #0015ff7b;
  color: rgb(255, 255, 255);
  // center the button
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    background-color: #0015ffb0;
  }
}

.ReminderBottomSubDiv {
  @include twoMainReminderDivs;
  margin-top: 20px;

}

.ReminderHeadingsDiv {
  background-color: yellowgreen;
  // make the text be in a row
  display: flex;
  align-items: center;
  justify-content: center;

  // get all the h1
  h3 {
    margin: 0 50px 0;
    background-color: grey;
  }
}

@mixin commonRowItemStyle {
  // make the text be in a row
  display: flex;
  align-items: center;
  justify-content: left;
}

.ReminderRowDiv {
  @include commonRowItemStyle;
  background-color: green;
}

.LinkDiv {
  background-color: purple;
  padding: 16px 0;
  width: "50px";
  overflow: hidden;
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  a {
    padding: 0 16px 0;
    //background-color: yellowgreen;
  }

  @media (width: 100px) {
    width: 290px;
  }
}

.ButtonInfoDiv {
  background-color: burlywood;
  width: "100%";
  padding: 0 16px 0;

}

.tableDivMain {
  overflow: hidden;
}

table {
  border: solid 1px blue;
  table-layout: fixed;
  width: 100%;

}

thead {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

tr {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;

    :nth-child(1) {
      width: 80%;
    }

    :nth-child(2) {
      // align items to the center
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
}

th {
    border-bottom: 'solid 3px red';
    background-color: 'red';
    font-weight: 'bold';
    border: solid 1px gray;
}

.tableRowForHeaderElement {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;

  :nth-child(1) {
    width: 80%;
  }

  :nth-child(2) {
    // align items to the center
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
 }

 .tableHeadElement {
  //background-color: rgb(221, 126, 25);
  //border: solid 1px purple;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70px;
 }


td {
    //background-color: rgb(221, 126, 25);
    border: solid 1px gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70px;
}

